@import "../../Fonts.css";

.backgroundVideo {
  position: absolute;
  width: 104%;
  left: 50%;
  top: 50%;
  height: 103%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -69;
  overflow: hidden;
}

.podiumContainer {
  display: flex;
  margin-top: 11em;
  margin-bottom: 11em;
  width: 34em;
  height: 17em;
  border-bottom: 0;
  border: 5px solid black;
  background-color: var(--lighter-blue);
  border-top-left-radius: 32em;
  border-top-right-radius: 32em;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  font-family: var(--main-font-family);
}

.podiumName {
  font: var(--main-font-family);
  font-size: 3em;
  margin-bottom: 0;
  color:white;
}

.podiumScore {
  margin: 0 auto;
  padding: auto;
  font-size: 1.5em;

}

.firstPlace {
  background: #ffd700;
  height: 11.5em;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondPlace {
  background: #c0c0c0;
  height: 8em;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdPlace {
  background: #cd7f32;
  height: 5em;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nonPodiumContainer {
  background-color: black;
  border: var(--darker-blue) 2px solid; 
  margin-left: 1em;
  width: 25em;
  height: 50vh;
  font-size: larger;
  color: white;
  font-family: var(--main-font-family);
  display: flex;
  justify-content: space-around;
}

.nonPodiumNames {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}



.nonPodiumName {
  margin: 0;
}

.nonPodiumScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.nonPodiumScore {
  margin: 0;
}

.nonPodiumRanks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.nonPodiumRank {
  margin: 0;
}

.gameButton {
  display: inline-block;
  height: 4rem;
  padding: 0.2em;
  border: 0.2em solid white;
  margin: 0 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background-color: #3a0ca3;
}
.gameButton:hover {
  color: #3a0ca3;
  background-color: white;
  border: 0.1em solid #3a0ca3;
  cursor: pointer;
}

.options {
  display: inline-flex;
  justify-content: center;
  align-items: space-between;
  margin-left: 1em;
  width: 30em;
  height: 8em;
}

.jukebox {
  width:100vw;
  background-image: url("../src/assets/jukeboxvariant.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  opacity: 0.8;
}
