@import "../../Fonts.css";

.container {
  color: var(--light-purple);
}

.gameContainerContainer {
    width: 600px;
    margin: 1em auto;
}

.gameContainerUL {
  height: 600px;
  width: 600px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameContainerUR {
  height: 600px;
  width: 600px;
  background: black;
  display: flex;
  justify-content: flex-end;
}

.gameContainerDL {
  height: 600px;
  width: 600px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gameContainerDR {
  height: 600px;
  width: 600px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.squareLight {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 50%;
  animation-name: disappear;
  animation-duration: 0.7s;
}

@keyframes disappear {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}
