@import "../../Fonts.css";

.container {
  color: var(--light-purple);
}

.gameContainerContainer {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100vw;
  margin: 12vh 0;
}

.gameContainerUL {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameContainerUR {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.gameContainerDL {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gameContainerDR {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.gameContainerUP {
  height: 600px;
  width: 600px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.squareLight {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 50%;
  animation-name: disappear;
  animation-duration: 0.7s;
}

@keyframes disappear {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}
