@import "../../Fonts.css";

.container {
    color: var(--pink);
    background-color: var(--blue-purple);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 12vh;
}

.logo {
    height: 10vh;
    width: auto;
}

.title {
    color: white;
    font-family: var(--main-font-family);
    font-size: 4em;
}