@import "../../Fonts.css";

.container {
    color: var(--pink);
    font-family: var(--main-font-family);
    background-color: var(--lighter-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: x-large;
}