@import "../../Fonts.css";

.container {
    color: var(--pink);
    background-color: var(--lighter-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.logo {
    height: 10vh;
    width: auto;
}