.backgroundContainer {
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.2;
    z-index:-1;
    display: flex;
    justify-content: center;
}



.dark {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    background-size: auto;
    z-index:-2;
}